# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment Variables
.env
.env.local
.env.*.local

# Logs
*.log
bot.log

# Heroku
.heroku/
*.pyc
staticfiles/

# Firebase
firebase-debug.log*
firebase-debug.*.log*
firebase-adminsdk.json

# OS
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride
._*railway_vars.json
.env
railway_vars.json
